streamlit
nltk==3.4.3
docx2txt
PyPDF2
gensim
numpy
pandas
bs4
beautifulsoup4
pyresparser
streamlit_tags
openai
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
pathlib

